/* The layout primitives */

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 50rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.row{
  max-width: 900px;
  min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Specific targets */

header{
  color: white;
  background-color: green;
  border-radius: 45px;
  padding: 10px;
  margin-top: 2rem;
}

h1{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.5ch;
}

button{
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem;
  background-color: #ffece4;
  color: #da4c56;
  text-transform: uppercase;
  letter-spacing: 0.65ch;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 45px;
  text-indent: 0.65ch;
}

button:hover{
  box-shadow: 0px 15px 20px rgba(255, 91, 57, 0.4);
  transform: translateY(-7px);
}

button:focus{
  outline: none;
}

.buttons{
  margin-top: 2rem;
  min-width: 300px;
}

.timer{
  position: relative;
  top: -2rem;
}

.tomato-img{
  width: 400px;
  display: grid;
  place-content: center;
}

/* Timer */
.timer-time{
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
} 
.timer-time span{
  position: relative;
  bottom: 2rem;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


.timer-buttons{
  display: flex;
  justify-content: space-between;
  background-color: green;
  border-radius: 45px;
}

.start-stop-button{
  background-color: #da4c56;
  color: #ffece4;
}

/* Customise Options */
.overlay{
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);  
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.custom{
  margin-top: 6rem;
  background-color: #da4c56;
  border-radius: 18px;
  padding: 1rem;
  min-width: 600px;
}

.custom-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-form input{
  height: 40px;
  max-width: 100px;
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

.custom-form input:focus{
  outline: none;
}
.custom-form label{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
}

/* How to Pomodoro Options */
.pomoTech{
  color: white;
}

.pomoTech h2{
  text-align: center;
  padding: 1rem;
}

.pomoTech > * + *{
  margin-top: 1rem;
}

/* This is a mistake but I have a question */
p:nth-child(3){
  padding: 1rem;
  border: 2px solid white;
  border-radius: 10px;
}
